ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fx-row {
  display: flex;
  flex-direction: row;
}

@media (min-width: 60em) {
  .fx-row-l {
    display: flex;
    flex-direction: row;
  }
}

.fx-g1 {
  flex-grow: 1;
}

.fx-g2 {
  flex-grow: 2;
}

.fx-w {
  flex-wrap: wrap;
}

.fai-c {
  align-items: center
}
